@font-face {
  font-family: 'Jet Brains';
  src: url('./JetBrainsMono-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Jet Brains Bold';
  src: url('./JetBrainsMono-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Jet Brains Medium';
  src: url('./JetBrainsMono-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./Montserrat-ExtraBold.ttf');
  font-weight: 600;
}
